.content {
    width: 100%;
    animation: 2s ease-out 0s 1 slideInFromRight;
    transition: all 0.5s ease-out 0s;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}